Exercise 1: A, B, C, and D are all different digits. The number DCBA is equal to 4 times the number ABCD. What are the digits? Note: to make ABCD and DCBA conventional numbers, neither A nor D can be zero. Use a quadruple-nested loop.

In [5]:
# Solve 4*ABCD == DCBA

solve = [(A, B, C, D) for A in range(1,9) for B in range(0,9) for C in range(0,9) for D in range(1,9) if 4* ((A*1000) + (B*100) + (C*10) + D) == ((D*1000) + (C*100) + (B*10) + A)]

print(solve)
# print("A =", A)
# print("B =", B)
# print("C =", C)
# print("D =", D)

[(2, 1, 7, 8)]

Exercise 2: A prime number is a positive integer that is dividable by exactly two different numbers, namely 1 and itself. The lowest (and only even) prime number is 2. The first 10 prime numbers are 2, 3, 5, 7, 11, 13, 17, 19, 23, and 29. Write a function that returns a list off all prime numbers below a given number.

In [13]:
print("List of all prime numbers:")
for num in range(2, 30):
    for i in range(2, num):
        if num % i == 0:
           break
    else:
        print(num)

List of all prime numbers:
2
3
5
7
11
13
17
19
23
29

Exercise 3: Write a function that prints all pairs (i,j) where i and j can take on the values 0 to maximum, but they cannot be equal.

In [21]:
# Print non-equal pairs

non_equal_pairs = [(i, j) for i in range(5) for j in range(i+1, 5)]

print(non_equal_pairs)

[(0, 1), (0, 2), (0, 3), (0, 4), (1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

Exercise 4: The following code checks a list of grades for a student. As long as all grades are 5.5 or higher, the student passes. When one or more grades are lower than 5.5, the student fails.

In [30]:
for grade in range(0, 7):
    if grade >= 6:
        print( "The student fails!" )
        break
else:
    print( "The student passes!" )

The student fails!

Exercise 5: Write the Negative indices for word Orange?

In [42]:
# negative indices

fruit = "orange"
print(fruit[:1:2])
print(fruit[1:5:2])
print(fruit[1::-1]) 
print(fruit[::-2])

o
rn
ro
enr

Exercise 6: How many different seven-letter arrangements of the letters in the word HEXAGON can be made if each letter is used only once?

In [49]:
def hexagon(n):
    if n == 0:
        return 1
    else:
        return n * hexagon(n - 1)

print(hexagon(10))

3628800

Exercise 7

In [50]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

s = [(x, y) for x in adj for y in fruits]

print(s)

[('red', 'apple'), ('red', 'banana'), ('red', 'cherry'), ('big', 'apple'), ('big', 'banana'), ('big', 'cherry'), ('tasty', 'apple'), ('tasty', 'banana'), ('tasty', 'cherry')]