In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\ritth\\code\\Strive\\Strive-Exercises\\Chapter 02\\01. Intro to ML\\Part 1\\data\\music.csv")
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [3]:
data.shape

(18, 3)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [5]:
mapper = {}

In [6]:
data.shape[0]

18

In [7]:
a = np.zeros(data.shape[1])
a

array([0., 0., 0.])

In [8]:
a.shape

(3,)

In [9]:
seq_len = 5

In [10]:
for i in range(0, (data.shape[0] - seq_len+1), seq_len+1):

    seq = np.zeros((seq_len, data.shape[1]))

In [11]:
def pairing(data, seq_len=6):
    x = []
    y = []


    for i in range(0, (data.shape[0] - seq_len+1), seq_len+1):

        seq = np.zeros((seq_len, data.shape[1])) 
        

        for j in range(seq_len):
            seq[j] = data.values[i + j]
            

        x.append(seq)
        y.append(data['T (degC)'][i + seq_len])

    return np.array(x), np.array(y)

pairing(data.head())


# Extract chunks (sequence) of data and the target variable
x, y = pairing(data)


print(x.shape)
print(y.shape)
print(x[0])
print(y[0])

ValueError: could not convert string to float: 'HipHop'

In [ ]:
arr = np.arrange(100)