##### Dataset complete info: https://archive.ics.uci.edu/ml/datasets/car+evaluation

## Attribute information

* Class Values:

    unacc, acc, good, vgood

* Attributes:

    1. buying: vhigh, high, med, low.
    2. maint: vhigh, high, med, low.
    3. doors: 2, 3, 4, 5more.
    4. persons: 2, 4, more.
    5. lug_boot: small, med, big.
    6. safety: low, med, high.

In [1]:
car_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data"

In [2]:
import pandas as pd
pd.read_csv(car_data, header=None)

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

In [4]:
columns = ["buying","maint", "doors", "persons", "lug_boot","safety", "class values"]

In [5]:
data = pd.read_csv(car_data, names=columns)
data[:3]

  buying  maint doors persons lug_boot safety class values
0  vhigh  vhigh     2       2    small    low        unacc
1  vhigh  vhigh     2       2    small    med        unacc
2  vhigh  vhigh     2       2    small   high        unacc

In [6]:
data.dtypes

buying          object
maint           object
doors           object
persons         object
lug_boot        object
safety          object
class values    object
dtype: object