### Exercise

Given the following X and y, can you get an output like the one given as output
```
(1, 2) 1
(1, 3) 1
(3, 4) 1
(4, 5) 0
```
?

In [23]:
X = [(1,2), (1,3), (3,4), (4,5)]
y = [1, 1, 1, 0]

for i, j in zip(X, y):
    print(i, j)

list(zip(X, y))

(1, 2) 1
(1, 3) 1
(3, 4) 1
(4, 5) 0

[((1, 2), 1), ((1, 3), 1), ((3, 4), 1), ((4, 5), 0)]

In [24]:
import pandas as pd

## Exercises

1. Convert the following functions in lambda functions:

In [25]:
# def function1(x, y):
#     # Oh no! Multiple inputs! That's new!
#     return x + y

# def function2(j):
#     if j > 0:
#         return "positive"
#     else:
#         return "negative"

In [26]:
function1 = lambda x, y: x + y
function2 = lambda j: "positive" if j > 0 else "negative"

In [34]:
function1(1,2)

3

In [28]:
function2(0)

'negative'

In [29]:
function2(67)

'positive'

Transform all the negative elements of the columns "hi", "hey", and "hello" of the dataframe `df` into the string "hello".

In [30]:
df = pd.DataFrame({"first":[1,-1,1.0,0.0],
                   "hi":[0.1,0.0,1,-1],
                  "hey":[1,-1,0,0.0],
                  "fourth":[1,-1,2,0.0],
                  "hello":[1,-1.9,0,2.0]
                  })

df

   first   hi  hey  fourth  hello
0    1.0  0.1  1.0     1.0    1.0
1   -1.0  0.0 -1.0    -1.0   -1.9
2    1.0  1.0  0.0     2.0    0.0
3    0.0 -1.0  0.0     0.0    2.0

In [31]:
df["hi"] = df["hi"].apply(lambda x : x if x > -1 else "hello")
df["hey"] = df["hey"].apply(lambda x : float(x) if x > -1.0 else "hello")
df["hello"] = df["hello"].apply(lambda x : float(x) if x > -1 else 100)

In [32]:
df

   first     hi    hey  fourth  hello
0    1.0    0.1      1     1.0    1.0
1   -1.0      0  hello    -1.0  100.0
2    1.0      1      0     2.0    0.0
3    0.0  hello      0     0.0    2.0