## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 3)))
df = df.sub(df.mean(axis=1), axis=0)
#df = df.sub(axis=0)

df

          0         1         2
0 -0.064970  0.187246 -0.122276
1  0.108513  0.006130 -0.114643
2 -0.043202  0.188481 -0.145279
3 -0.355734  0.106524  0.249210
4  0.058260 -0.005606 -0.052654

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [25]:

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 10)),columns = list('abcdefghij'))
df
x = df.sum().idxmin()
x

'b'